<body style="background-color: #ffffff">
<script type="text/javascript">

  // The Browser API key obtained from the Google API Console.
  var developerKey = 'AIzaSyBp_GUisXiOtYTYr5Z4ioHu54G87fkMK4s';

  // The Client ID obtained from the Google API Console. Replace with your own Client ID.
  var clientId = '980576583017-vh5hhfqognajhlikef4jkmqs38leau6c.apps.googleusercontent.com';

  // Scope to use to access user's photos.
  var scope = 'https://www.googleapis.com/auth/drive';

  var pickerApiLoaded = false;
  var oauthToken;

  // Use the API Loader script to load google.picker and gapi.auth.
  function onApiLoad() {
    gapi.load('auth2', onAuthApiLoad);
    gapi.load('picker', onPickerApiLoad);
  }

  function onAuthApiLoad() {
    var authBtn = document.getElementById('auth');
    authBtn.disabled = false;
    authBtn.addEventListener('click', function() {
      gapi.auth2.authorize({
        client_id: clientId,
        scope: scope
      }, handleAuthResult);
    });
  }

  function onPickerApiLoad() {
    pickerApiLoaded = true;
    createPicker();
  }

  function handleAuthResult(authResult) {
    if (authResult && !authResult.error) {
      oauthToken = authResult.access_token;
      createPicker();
    }
  }

  // Create and render a Picker object for picking user Photos.
  function createPicker() {
    if (pickerApiLoaded && oauthToken) {
      var picker = new google.picker.PickerBuilder().
      addView(google.picker.ViewId.DOCS).
      setOAuthToken(oauthToken).
      setDeveloperKey(developerKey).
      setCallback(pickerCallback).
      build();
      picker.setVisible(true);
    }
  }

  // A simple callback implementation.
  function pickerCallback(data) {
    var url = 'nothing';
    if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
      var doc = data[google.picker.Response.DOCUMENTS][0];
      url = doc[google.picker.Document.URL];
      console.log(doc);
    }
    var message = 'You picked: ' + url;
    document.getElementById('result').innerHTML = message;
  }
</script>


<header>
  <!--<script type="text/javascript" src="https://apis.google.com/js/api.js?onload=onApiLoad"></script>-->
  <div>
    <a routerLink="/profile">
        <span class="float-right"
              style="padding-top: 10px; padding-right: 10px; font-family: 'Roboto Mono', monospace;">
            <i class="fa fa-user"></i> {{user.firstName}}
            <i (click)="logout()" class="fa fa-power-off"></i>
        </span>
    </a>
    <div class="wbdv-header">
      <div class="project-font">
        <h1 class="float-left"> My Images </h1>

        <div *ngIf="role === 'admin' || role ==='owner' || role === 'contributor'"
             class="float-right">
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-user circle-image-div-elem"></i>-->
          <!--</div>-->
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-code circle-image-div-elem"></i>-->
          <!--</div>-->
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-ellipsis-v circle-image-div-elem"></i>-->
          <!--</div>-->

          <!--This part adds the images from directory-->
          <form *ngIf="clickUpload" class="d-inline" method="post" enctype="multipart/form-data">
            <input type="file" name="file" class="upload-img" ngModel="srcPath" (change)="uploadFile($event)"/>
            <i type="submit" value="upload" class="circle-image-div-elem fa fa-check"></i>
          </form>

          <div class="circle-image-div" *ngIf="!clickUpload">
            <i type="button" class="fa fa-plus circle-image-div-elem" (click)="toggleClickUpload()"></i>
          </div>

          <div class="circle-image-div" *ngIf="clickUpload">
            <i type="button" class="fa fa-remove circle-image-div-elem" (click)="toggleClickUpload()"></i>
          </div>

          <!--This part adds the images from google drive-->
          <div class="circle-image-div">
            <i type="button" class="fa fa-google circle-image-div-elem" id="auth" (click)="onApiLoad()"></i>
          </div>
        </div>
        <div>
          <!--<button type="button" class="float-right" (click)="onApiLoad()">Authenticate</button>-->
          <!--<div id="result"></div>-->

          <!-- The Google API Loader script. -->
        </div>

      </div>
    </div>
  </div>
</header>
<div class="padding-heading"></div>
<div class="container">
  <div class="card-group" style="margin: 10px;">
    <div *ngFor="let image of images" class="col-4">

      <div class="card project-card">
        <a routerLink="/image/{{image.id}}/edit">
        <!--<img id={{image.id}} class="card-img-top wbdv-card-img" [src]="image.src" alt="Card image cap">-->
        <div class="card-body">
          <div class="card-title">{{image.name}}</div>
          <div class="card-text">
            <!--<form [formGroup]="addCommentForm" novalidate (ngSubmit)="addComment(image)">-->
              <!--<button type="button" class="fa fa-comment" data-toggle="modal" data-target="#addcommentmodal">CLICK ME</button>-->
            <!--</form>-->
            <!--&lt;!&ndash; Modal &ndash;&gt;-->
            <!--<div class="modal fade" id="addcommentmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">-->
              <!--<div class="modal-dialog" role="document">-->
                <!--<div class="modal-content">-->
                  <!--<div class="modal-header">-->
                    <!--<h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                      <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                  <!--</div>-->
                  <!--<div class="modal-body">-->
                    <!--...-->
                  <!--</div>-->
                  <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


          </div>
        </div>
        </a>
        <!--<input-->
          <!--[(ngModel)]="comment"/>-->
        <!--<select id="review">-->
          <!--<option value="excellent">Excellent</option>-->
          <!--<option value="good">Good</option>-->
          <!--<option value="average">Average</option>-->
          <!--<option value="bad">Bad</option>-->
        <!--</select>-->
        <i class="fa fa-trash" *ngIf="role==='admin' || role==='owner' || role==='contributor'" (click)="deleteImage(image)"></i>
      </div>


    </div>
  </div>
</div>
</body>
