<div class="wbdv-header">
  <div class="project-font">
    <h1 class="float-left"> Users </h1>
  </div>
</div>
<hr/>
<div *ngIf="user.username === 'admin' && user.password === 'admin'" class="container">
  <div class="container-fluid">

    <div class="vertical-center">
      <div class="outline-color">
        <div class="login-font">
          <h2>Welcome admin</h2>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let user of users">
          {{user.firstName}}

          <i class="fa fa-trash float-right" (click)="deleteUser(user)"></i>
          <a routerLink="/user/{{user.id}}">
            <i class="fa fa-pencil float-right"></i>
          </a>
        </li>
      </ul>
      <a routerLink="/user">
        <div class="test-prop">
          <div class="circle-image-div">
            <i class="fa fa-plus circle-image-div-elem"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let project of projects">
          {{project.projName}}

          <i class="fa fa-trash float-right" (click)="deleteProject(project)"></i>
          <i class="fa fa-pencil float-right" (click)="editProjectName(project)"></i>
        </li>
      </ul>
      <div (click)="addProject()" class="test-prop">
        <div class="circle-image-div">
          <i class="fa fa-plus circle-image-div-elem"></i>
        </div>
      </div>
    </div>

  </div>

</div>
<div *ngIf="user.username !== 'admin' || user.password !== 'admin'">
  Only admin has access
</div>



<!--</div>-->
<!--</html>-->


