<a routerLink="/profile">
        <span class="float-right"
              style="padding-top: 10px; padding-right: 10px; font-family: 'Roboto Mono', monospace;">
            <i class="fa fa-user"></i> {{user.firstName}}
        </span>
</a>
<div class="wbdv-header">
  <div class="project-font">
    <h1 class="float-left"> Image </h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-2">
    <app-image-edit></app-image-edit>
  </div>
  <div class="col-10">
    <app-image-disp></app-image-disp>
  </div>
</div>
