<body style="background-color: #ffffff">


<header>

  <div>

      <span class="float-right"
            style="padding-top: 10px; padding-right: 10px; font-family: 'Roboto Mono', monospace;">
        <a routerLink="/profile">
          <i class="fa fa-user"></i> {{user.firstName}}
        </a>
        <i (click)="logout()" class="fa fa-power-off"></i>
      </span>

    <div class="wbdv-header">
      <div class="project-font">
        <h1 class="float-left"> My Projects </h1>

        <!--<div class="float-right test-prop">-->
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-user circle-image-div-elem"></i>-->
          <!--</div>-->
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-code circle-image-div-elem"></i>-->
          <!--</div>-->
          <!--<div class="circle-image-div">-->
            <!--<i class="fa fa-ellipsis-v circle-image-div-elem"></i>-->
          <!--</div>-->
        <!--</div>-->
        <div class="float-right">
          <div (click)="addProject()" class="circle-image-div primary-div">
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="padding-heading"></div>
<div class="container">
  <div style="margin: 20px;" class="row">
    <div class="col-3">
    <label>Search Project</label>
      <input type="text" class="form-control" [(ngModel)]="searchProj"/>
    </div>
    <div class="col-3">
      <label>Project List</label>
      <div class="row">
        <select type="number" class="col-12" [(ngModel)]="projectObj">
          <option *ngFor="let project of projects | projectFilter:searchProj" [ngValue]="project">{{project.projName}}</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <label> Roles: </label>
      <div class="row">
        <select type="number" class="col-12" [(ngModel)]="roleObj">
          <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
        </select>
      </div>
    </div>
    <i class="col-3 fa fa-check fa fa-2x" (click)="addProjectForUser()"></i>
  </div>
  <div class="card-group" style="margin: 10px;">

    <div *ngFor="let project of userProjects" class="col-4">

      <div class="card project-card">
        <a routerLink="/project/{{project.project.id}}/image">
          <div class="card-body">
            <h5 class="card-title">{{project.project.projName}}</h5>
          </div>
        </a>
        <div *ngIf="project.role ==='admin' || project.role==='owner'">
          <i class="fa fa-trash fa-2x" (click)="deleteProj(project)"></i>
        </div>
        <div *ngIf="project.role ==='contributor' || project.role==='reader'">
          <i class="fa fa-trash fa-2x" (click)="deleteProj(project)"></i>
        </div>
      </div>

    </div>
  </div>
</div>

</body>
