<div class="container-fluid">
  <input [(ngModel)]="comment"/>
  <select id="review" [(ngModel)]="reviewSelect">
    <option *ngFor="let val of values" [ngValue]="val">{{val}}</option>
    <!--<option value="good">Good</option>-->
    <!--<option value="average">Average</option>-->
    <!--<option value="bad">Bad</option>-->
  </select>
  <i class="fa fa-comment" (click)="addComment()"></i>
  <hr/>
  <ul class="list-group">
    <li class="list-group-item active"> Comments:</li>
    <li class="list-group-item" *ngFor="let commentObj of comments">
      {{commentObj.comment}} - {{commentObj.review}}
    </li>
  </ul>
</div>
